@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face
  font-family 'droid_serifitalic'
  src url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
  url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal
  display optional

@font-face
  font-family 'droid_serif'
  src url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
  url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal
  display optional


@font-face
  font-family 'monseratt-bold'
  src url("../fonts/Montserrat-Bold.otf")
  font-weight normal
  font-style normal
  display optional

@font-face
  font-family 'monseratt-regular'
  src url("../fonts/Montserrat-Regular.otf")
  font-weight normal
  font-style normal
  display optional